{% extends "app_base.html" %}
{% block content %}

{% set isClosed = false %}
{% set isOpen = false %}
{% if status == 'Closed' %}
<h4><span class="label label-danger">CLOSED</span></h4>
{% set isClosed = true %}
{% elif status == 'Open' %}
<h4><span class="label label-success">OPEN</span></h4>
{% set isOpen = true %}
{% elif status == 'Not Started' %}
<h4><span class="label label-warning">NOT STARTED</span></h4>
{% endif %}

<h3>Categories </h3>
<ul>
    {% if categories %}
    {% for result in categories %}
    {% for key in result %}
    <span class="label label-default" style="font-size: 12px; font-weight: 500;">{{ result[key]|e }}</span>
    {% endfor %}
    {% endfor %}
    {% else %}
    <div>No categories</div>
    {% endif %}
</ul>

<hr/>
<h3> {{ details['Name'] }} </h3>

{% if details %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Attribute</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    {% for result in details %}
    <tr>
        <td>{{ result.replace("_", " ") }}</td>
        <td>{{ details[result]|e }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
<div>No results</div>
{% endif %}

<hr/>

{% if isClosed %}
{% if bids|length != 0 %}
<h3> Winner: </h3>
<div class="table-responsive">
    {% if bids %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th> Amount</th>
            <th> UserID</th>
            <th> Time</th>
        </tr>
        </thead>
        <tr>
            <td> $ {{ bids[0]['Amount']|e }}</td>
            <td> {{ bids[0]['UserID']|e }}</td>
            <td> {{ bids[0]['Time']|e }}</td>
        </tr>
    </table>
    {% else %}
    <div>No Bids.</div>
    {% endif %}
</div>
{% endif %}
{% elif isOpen %}
<a href="add_bid?itemId={{ details['ItemID'] }}" target="_blank" class="btn btn-primary"> Bid Now </a>
<h3> Auction Bids: </h3>
<div class="table-responsive">
    {% if bids %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th> Amount</th>
            <th> UserID</th>
            <th> Time</th>
        </tr>
        </thead>
        {% for result in bids %}
        <tr>
            <td> $ {{ result['Amount']|e }}</td>
            <td> {{ result['UserID']|e }}</td>
            <td> {{ result['Time']|e }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <div>No Bids.</div>
    {% endif %}
</div>
{% endif %}
{% endblock %}
