{% extends "app_base.html" %}
{% block content %}

{% set isClosed = false %}

{% if status == 'Closed' %}
    <h4> <span class="label label-danger">CLOSED</span></h4>
    {% set isClosed = true %}
{% elif status == 'Open' %}
    <h4> <span class="label label-success">OPEN</span></h4>
{% elif status == 'Not Started' %}
    <h4> <span class="label label-warning">NOT STARTED</span></h4>
{% endif %}

<h3>Categories </h3>
<ul>
    {% if categories %}
    {% for result in categories %}
    {% for key in result %}
    <span class="label label-default">{{ result[key]|e }}</span>
    {% endfor %}
    {% endfor %}
    {% else %}
    <div>No categories</div>
    {% endif %}
</ul>

<h3> Auction Details</h3>

<ul>
    {% if details %}
    {% for result in details %}
    <div>
        <span>{{ result }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ details[result]|e }}</span>
    </div>
    <div>--------</div>
    {% endfor %}
    {% else %}
    <div>No results</div>
    {% endif %}
</ul>

{% if isClosed %}
    {% if bids|length != 0 %}
        <h3> Winner: </h3>
        <div class="well">
            {% for key in bids[0] %}
            <div>
                <span>{{ key|e }}</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{ bids[0][key]|e }}</span>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% else %}
<h3> Auction Bids: </h3>
<div class="table-responsive">
    {% if bids %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Amount </th>
                    <th> UserID </th>
                    <th> Time </th>
                </tr>
            </thead>
        {% for result in bids %}
            <tr>
                <td> $ {{ result['Amount']|e }} </td>
                <td> {{ result['UserID']|e }} </td>
                <td> {{ result['Time']|e }} </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <div>No Bids.</div>
    {% endif %}
</div>
{% endif %}
{% endblock %}
