{% extends "app_base.html" %}
{% block content %}
<h3> Auction Info</h3>

<h2>{{status}}</h2>


<h3> Auction Bids: </h3>
<ul>
    {% if bids %}
    {% for result in bids %}
    {% for key in result %}
    <div>
        <span>{{ key|e }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ result[key]|e }}</span>
    </div>
    {% endfor %}
    <div>--------</div>
    {% endfor %}
    {% else %}
    <div>No Bids.</div>
    {% endif %}
</ul>

<h3>Categories </h3>
<ul>
    {% if categories %}
    {% for result in categories %}
    {% for key in result %}
    <div>
        <span>{{ key|e }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ result[key]|e }}</span>
    </div>
    {% endfor %}
    <div>--------</div>
    {% endfor %}
    {% else %}
    <div>No categories</div>
    {% endif %}
</ul>

<h3> Auction Details</h3>

<ul>
    {% if details %}
    {% for result in details %}
    {% for key in result %}
    <div>
        <span>{{ key|e }}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ result[key]|e }}</span>
    </div>
    {% endfor %}
    <div>--------</div>
    {% endfor %}
    {% else %}
    <div>No results</div>
    {% endif %}
</ul>

{% endblock %}